PORT=3000

DB_HOST=db
DB_PORT=3306
DB_USER=delomer_user
DB_PASSWORD=change_me
DB_NAME=delomer
DB_ROOT_PASSWORD=change_me_root

SESSION_SECRET=change_me_session_secret

JWT_SECRET=change_me_jwt_secret

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
