# node
node_modules/

# env
.env

# logs
npm-debug.log*

# OS
.DS_Store
Thumbs.db

#ostalo
ostalo/

# naložene datoteke uporabnikov (profilne slike ipd.) - persistirajo v Docker volumnu, ne v gitu
uploads/

# lokalna navodila za Claude Code, ne za git
CLAUDE.md

# osebne IDE nastavitve
*.code-workspace